:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;;
    --off-white: #FAF8F7;
    --white: #ffffff;
    --font-p: 'DM Sans', sans-serif;
    --font-s: 'Inter', sans-serif;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--font-p);
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}
.header-title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}
.header-title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header-title-container p{
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 11.8rem);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    box-shadow: 0rem 0.4rem 0.8rem rgba(89,73,30,0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    
}
.header-button span{
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    margin-left: 0.8rem;
    background-image: url("https://i.postimg.cc/7ZRxhKYs/arrow.png");
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}
.main-exchange-container-title{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}
.main-exchange-container .background-img{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url("https://i.postimg.cc/k5d7WBKK/Bitcoin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-exchange-container h2{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}